name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Format
      run: cargo fmt --all --check
    - name: Clippy
      run: cargo clippy --lib -- -D clippy::pedantic -W clippy::missing-errors-doc
    - name: Docs
      run: cargo doc --no-deps

